<section class="flex flex-col h-screen items-start justify-center">
    <div class="pl-10">
        <div class="flex-col">
            <h2 class="text-9xl">Portfolio</h2>
            <div class="flex">
                <p>2024</p>
                <div class=" w-60 h-1 bg-black"></div>
                <p>Antonin TREBOSC</p>
            </div>
        </div>
        <a href="#projets">Voir les projets</a>
    </div>
</section>