<section class="flex gap-10">
    <div class="w-96">
        <h3>Titre projet</h3>
        <p>Description projet</p>
    </div>
    <img src="https://via.placeholder.com/700" alt="placeholder"/>
</section>