---
import data from './data.js'
const { 
  idprojet = 0,
} = Astro.props;
const projet = data[idprojet]
---

<section class="flex flex-col sm:flex-row gap-10 ">
      <div class="sm:w-96 w-60">
        <a href={'/projet/' + idprojet}><h3 class="sm:text-4xl text-xl text-White hover:text-Primary transition duration-400 ease-in-out">{projet.title}</h3></a>
        <p class="sm:text-lg m-0 text-sm text-White">{projet.sous_titre}</p>
      </div>
      <a href={'/projet/' + idprojet}>
        <img class="w-64 sm:w-96 h-36 sm:h-64 object-cover border-4 border-transparent hover:border-Primary transition duration-400 ease-in-out transform hover:scale-105" src={projet.cover} alt="placeholder"/>
      </a>
</section>