---
import CardProject from './CardProject.astro'
import data from './data.js'
---

<section id="projets" class="flex flex-col pl-10 w-screen bg-Black">
    <h2 class="w-min pb-8 mt-20 sm:text-5xl text-3xl text-Primary">Projets</h2>
    <div class="flex flex-col pb-20 gap-16 items-center">
        <CardProject idprojet=0 />
        <CardProject idprojet=1 />
    </div>
</section>