---
import CardProject from './CardProject.astro'
---

<section id="projets" class="flex flex-col pl-10 w-screen">
    <h2 class="w-min pb-8">Projets</h2>
    <div class="flex flex-col pb-20 gap-16 items-center">
        <CardProject/>
        <CardProject/>
    </div>
</section>