---
import CardProject from './CardProject.astro'
import data from './data.js'
---

<section class="flex flex-col pl-5 sm:pl-10 w-screen bg-Black">
    <div class="h-screen"></div>
    <h2  id="projets" class="w-min pt-20 pb-8 mt-20 sm:text-5xl text-3xl text-Primary">Projets</h2>
    <div class="flex flex-col pb-20 gap-16 items-center">
        <CardProject idprojet=0 />
        <CardProject idprojet=1 />
        <CardProject idprojet=2 />
        <CardProject idprojet=3 />
    </div>
</section>